<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/fragments/header :: header-css(title='About', jobName='')" />
<body>
<div th:replace="html/fragments/header :: header"/>
<div class="container">
    <div class="starter-template">
        <h1>Cron expression</h1>
        <pre>
+-------------------- second (0 - 59)
|  +----------------- minute (0 - 59)
|  |  +-------------- hour (0 - 23)
|  |  |  +----------- day of month (1 - 31)
|  |  |  |  +-------- month (1 - 12)
|  |  |  |  |  +----- day of week (0 - 6) (Sunday=0 or 7)
|  |  |  |  |  |  +-- year [optional]
|  |  |  |  |  |  |
*  *  *  *  *  *  * command to be executed
        </pre>
    </div>
</div>
<!-- /.container -->
<div th:replace="html/fragments/footer :: footer"/>
</body>
</html>