<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/fragments/header :: header-css(title='Main', jobName='')" />
<body>
<div th:replace="html/fragments/header :: header"/>
<div class="container">
    <div class="starter-template">
        <h1>Spring Boot Batch 예제</h1>
        <h2>비로그인 화면 <a th:href="@{/about}">about</a></h2>
        <h2>배치 스케줄 목록 화면 <a th:href="@{/batch/web/scheduleList}">Schedule List</a></h2>
    </div>
</div>
<!-- /.container -->
<div th:replace="html/fragments/footer :: footer"/>
</body>
</html>