<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/fragments/header :: header-css(title='실행 목록', jobName=${param.jobName[0]})" />
<body>
<div th:replace="html/fragments/header :: header"/>
<div class="container">
    <h2 th:text="${param.jobName[0]} + ' 실행 목록'">실행 목록</h2>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">번호</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="jobObj,rowStat : ${execJobList}">
                <td th:text="${jobObj}"></td>
            </tr>
        </tbody>
    </table>

</div>
<!-- /.container -->
<div th:replace="html/fragments/footer :: footer"/>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function () {
    });
/*]]>*/
</script>
</body>
</html>