<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/fragments/header :: header-css(title='스케줄 목록')" />
<body>
<div th:replace="html/fragments/header :: header"/>
<div class="container">
    <h2>스케줄 목록</h2>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">번호</th>
                <th scope="col">Job Name</th>
                <th scope="col">스케줄</th>
                <th scope="col">파라메터</th>
                <th scope="col">설명</th>
                <th scope="col">상태</th>
                <th scope="col">최종상태</th>
                <th scope="col">최종시간</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="jobObj,rowStat : ${joblist}">
                <td scope="row" th:text="${rowStat.count}">1</td>
                <td class="valueJobName" data-target="#layerpop" data-toggle="modal" style="cursor: pointer" th:text="${jobObj.jobName}">
                    Job Name
                </td>
                <td th:text="${jobObj.cronExpression}">스케줄</td>
                <td th:text="${jobObj.jobParameter}">파라메터</td>
                <td th:text="${jobObj.description}">설명</td>
                <td class="changeSeheduled" style="cursor: pointer" th:inline="text">
                    [[${jobObj.scheduled == 1 ? '실행' : '중지'}]]
                    <input type="hidden" name="scheduled" th:value="${jobObj.scheduled}" />
                </td>
                <td th:text="${jobObj.lastStatus}">최종상태</td>
                <td th:text="${#dates.format(jobObj.lastUpdateTime, 'yyyy/MM/dd HH:mm:ss')}">최종시간</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-default" data-target="#layerpop" data-toggle="modal">스케줄 등록</button><br/>
    <div class="modal fade" id="layerpop" >
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <!-- 닫기(x) 버튼 -->
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <!-- header title -->
                    <h4 class="modal-title">Header</h4>
                </div>
                <!-- body -->
                <div class="modal-body">
                    Body
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    Footer
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<div th:replace="html/fragments/footer :: footer"/>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function () {
        $(".changeSeheduled").on("click", function () {
            var jobName = $(this).parent().children(".valueJobName").text();
            var scheduled = $(this).find("input[name='scheduled']").val();
            if (scheduled == 0) {
                fn_startJobSchedule(jobName);
            } else {
                fn_stopJobSchedule(jobName);
            }
        });
    });

    function fn_startJobSchedule(jobName) {
        if (!confirm("[" + jobName + "] Job 스케줄을 시작합니다. 계속 진행하시겠습니까?")) return;
        var url = /*[[@{/batch/schedule/startSchedule}]]*/"";
        var params = {jobName:jobName};
        $.post(url, params).done(function (data) {
            if (data != 0) {
                alert("[" + jobName + "] Job 스케줄 시작을 요청하였습니다.");
            } else {
                alert("잘못된 정보 입니다.");
            }
            location.href = /*[[@{/batch/web/scheduleList}]]*/"";
        }).fail(function (data) {
            alert("잘못된 정보 입니다.");
        });
    }

    function fn_stopJobSchedule(jobName) {
        if (!confirm("[" + jobName + "] Job 스케줄을 중지합니다. 계속 진행하시겠습니까?")) return;
        var url = /*[[@{/batch/schedule/stopSchedule}]]*/"";
        var params = {jobName:jobName};
        $.post(url, params).done(function (data) {
            if (data != 0) {
                alert("[" + jobName + "] Job 스케줄 중지를 요청하였습니다.");
            } else {
                alert("잘못된 정보 입니다.");
            }
            location.href = /*[[@{/batch/web/scheduleList}]]*/"";
        }).fail(function (data) {
            alert("잘못된 정보 입니다.");
        });
    }
/*]]>*/
</script>
</body>
</html>