<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.JobScheduleBatchMapper">
    <select id="selectJobSchedule" parameterType="string" resultType="jobScheduleModel">
        SELECT JOB_SCHEDULE_ID
              ,CRON_EXPRESSION
              ,DESCRIPTION
              ,JOB_NAME
              ,JOB_PARAMETER
              ,SCHEDULED
              ,RDATE
              ,MDATE
        FROM T_JOB_SCHEDULES
        WHERE JOB_NAME = #{jobName}
    </select>

    <update id="updateScheduled" parameterType="jobScheduleModel">
        UPDATE T_JOB_SCHEDULES
        SET SCHEDULED = #{scheduled}
           ,MDATE = NOW()
        WHERE JOB_NAME = #{jobName}
    </update>

    <insert id="insertJobSchedule" parameterType="jobScheduleModel">
        INSERT INTO T_JOB_SCHEDULES(
            CRON_EXPRESSION
            ,DESCRIPTION
            ,JOB_NAME
            ,JOB_PARAMETER
            ,SCHEDULED
            ,RDATE
        ) VALUES (
            #{cronExpression}
            ,#{description}
            ,#{jobName}
            ,#{jobParameter}
            ,#{scheduled}
            ,NOW()
        )
    </insert>

    <update id="updateJobSchedule" parameterType="jobScheduleModel">
        UPDATE T_JOB_SCHEDULES
        SET CRON_EXPRESSION = #{cronExpression}
           ,DESCRIPTION = #{description}
           ,JOB_NAME = #{jobName}
           ,JOB_PARAMETER = #{jobParameter}
           ,SCHEDULED = #{scheduled}
           ,MDATE = NOW()
        WHERE JOB_NAME = #{jobName}
    </update>

    <select id="selectExecutionJobsCount" resultType="integer">
        SELECT COUNT(T1.JOB_EXECUTION_ID)
        FROM BATCH_JOB_EXECUTION T1
             INNER JOIN BATCH_JOB_INSTANCE T2
                     ON T2.JOB_INSTANCE_ID = T1.JOB_INSTANCE_ID
                    AND T2.JOB_NAME IN
        <foreach item="jobName" index="index" collection="jobNameList" open="(" separator="," close=")">
            #{jobName}
        </foreach>
    </select>

    <select id="selectExecutionJobsList" parameterType="jobExecutionModel" resultType="jobExecutionModel">
        SELECT T1.JOB_EXECUTION_ID AS JOB_EXECUTION_ID
              ,T2.JOB_NAME AS JOB_NAME
              ,T1.START_TIME AS START_TIME
              ,T1.END_TIME AS END_TIME
              ,T1.STATUS AS STATUS
              ,T1.EXIT_CODE AS EXIT_CODE
        FROM BATCH_JOB_EXECUTION T1
             INNER JOIN BATCH_JOB_INSTANCE T2
                     ON T2.JOB_INSTANCE_ID = T1.JOB_INSTANCE_ID
                    AND T2.JOB_NAME IN
        <foreach item="jobName" index="index" collection="jobNameList" open="(" separator="," close=")">
            #{jobName}
        </foreach>
        ORDER BY T1.JOB_EXECUTION_ID DESC
        LIMIT #{offset}, #{pageRows}
    </select>
</mapper>
