<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SampleOrgMapper">
    <select id="selectSampleOrg" resultType="sampleOrgModel" parameterType="map">
        SELECT *
        FROM SAMPLE_ORG
        <if test="from != null and offset != null">
            ORDER BY ID
            LIMIT #{from}, #{offset}
        </if>
    </select>

    <select id="getSampleOrgTotalCount" resultType="integer">
        SELECT count(*)
        FROM SAMPLE_ORG
    </select>
</mapper>
